*{
  margin: 0;
}
body{
  background-color: rgb(50, 49, 51);
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__dropdown{
  color: aliceblue;
  background-color: rgb(244, 241, 245);
}
.app_header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.app_left{
  flex:.8;
  margin-bottom: 4px;
}
.app__right {
  
  display: flex;
  flex-direction: column;
}
.app__right .MuiCardContent-root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.app__graph {
  flex-grow: 1;
}

.app__graphTitle {
  margin-top: 20px;
  margin-bottom: 10px;
}
.app__stats{
  display: flex;
  justify-content: space-between;
}



@media (max-width:990px){
  .app{
    flex-direction: column;
  }
  .app_header{
    flex-direction: column;
  }
  .app__dropdown{
    margin-top: 3px;
  }
  .app__rightTableTitle {
    text-align: center;
  }
  .app__rightGraphTitle {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }

}